---
---
$primary: #37424a;
$link: #37424a;
$link-visited: #37424a;
$link-hover: #37424a;

// Import Main CSS file from theme
@import "main";

a {
    text-decoration: underline;
    font-weight: bold;
}