#!/usr/bin/env bash

case "$1" in
  "")
    echo $"Usage: $0 {backup_set_name}"
    exit 1
    ;;

  *)
    if [ -f "/config/tractorbeam/tractorbeam.yml" ]; then
      ansible-playbook -i /ansible/inventories/all.ini  -e "@/config/tractorbeam/tractorbeam.yml" -e "tractorbeam_scope=${1}" /ansible/backup.yml
    else
      ansible-playbook -i /ansible/inventories/all.ini /ansible/backup.yml
    fi
    ;;

esac
